<header>
    <div class="header-container">

        <div class="logo">
            <a [routerLink]="['/home']">
                <img src="assets/marca.png" alt="TitanLab Logo" class="logo-image">
            </a>
        </div>

        <div class="search-bar">
            <input type="text" placeholder="Search for products">
            <button><i class="fas fa-search"></i></button>
        </div>

        <nav class="nav-links">
            <a [routerLink]="['/products']">Products</a>
            <div class="dropdown">
                <a href="javascript:void(0)" class="sign-in-button" (click)="toggleDropdown()">
                  Hello, {{ userName ? userName : 'sign in' }}
                </a>

                <div class="dropdown-content" [class.show]="isDropdownVisible" id="dropdownContent">
                    <div *ngIf="!userName" class="dropdown-header">
                        <button class="sign-in-btn">
                            <a [routerLink]="['/sign-in']">Sign In</a>
                        </button>
                        <p class="new-customer">
                            New Customer? <a [routerLink]="['/sign-up']">Click Here</a>
                        </p>
                    </div>

                    <div *ngIf="userName" class="dropdown-body">
                        <div class="dropdown-left">
                            <a routerLink="/orders">Your Orders</a>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="dropdown-right">
                            <a [routerLink]="['/user']">Your Account</a>
                            <a href="#">Recommendations</a>
                            <a href="javascript:void(0)" (click)="logout()">Log Out</a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="javascript:void(0)" (click)="goToCart()" class="cart-icon"><i class="fas fa-shopping-cart"></i></a>
        </nav>

        <div *ngIf="showWarning" class="warning-message">
            Please log in to access your cart
        </div>
    </div>
</header>