header {
    font-family: sans-serif;
    background-color: #2e2e2e;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo a {
    display: flex;
    align-items: center;
}

.logo-image {
    height: 40px;
    width: auto;
}

.search-bar {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 1100px; 
    margin: 0 20px;
}

.search-bar input {
    background-color: #1a1a1a;
    border: 2px solid #1a1a1a;
    color: white;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    outline: none;
    margin-right: -1px; 
}

.search-bar button {
    background-color: #febd69;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    color: black;
}

.search-bar button i {
    font-size: 16px;
}

.search-bar button:hover {
    background-color: #f3a847;
}

.nav-links {
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.cart-icon i {
    font-size: 25px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    font-family: sans-serif;
    display: none;
    position: absolute;
    background-color: #464646;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: sans-serif;
    border-radius: 4px;
    top: 35px;
    right: 0px;
    left: -140px;
}

.dropdown-header {
    padding: 10px;
    text-align: center;
}

.dropdown-body {
    display: flex;
}

.dropdown-divider {
    border-left: 1px solid #000000;
    height: auto;
}

.dropdown-left a, .dropdown-right a {
    display: block;
    padding: 8px;
    text-decoration: none;
}

.dropdown-content.show {
    display: flex;
    flex-direction: column;
}

.sign-in-btn {
    background-color: #FFB908;
    border: 2px solid #FFB908;
    padding: 10px 20px;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    width: 75%;
    margin: 0 auto;
}

.new-customer {
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.new-customer a {
    color: #f0c14b;
    margin: 0px;
    text-decoration: none;
}