html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: sans-serif;
    color: rgb(177, 177, 177);
    background-color: #141414;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;
}

main {
    text-align: center;
    padding: 20px;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: 0 auto;
}

.login-box {
    background-color: #2e2e2e;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-box img {
    width: 300px;
    height: auto;
    margin-bottom: 30px;
}

.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    width: 100%;
    margin-bottom: 10px;
}

.input-group input {
    background-color: #1a1a1a;
    border: 2px solid #1a1a1a;
    color: white;
    padding: 7px;
    border-radius: 4px;
    text-align: left;
    width: 100%;
}

.input-group input:focus {
    border-color: #bbbbbb;
    outline: none;
}

.login-box button {
    background-color: #FFB908;
    border: 2px solid #FFB908;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.login-box button a {
    color: white;
    text-decoration: none;
}

.login-box a {
    text-decoration: none; 
    color: #FFB908;
}

hr {
    border: none;
    border-top: 1px solid #cccccc;
    margin: 20px 0;
    width: 100%;
}
