<app-header></app-header>
<div class="header-image">
    <img src="assets/image.jpg" alt="header">
</div>

<div class="image-gallery">
    <div class="image-item">
        <img src="assets/boldenone.jpg" alt="Image 1">
        <h3>Boldenone</h3>
        <p>Los atletas se inyectan por lo menos una vez por semana la Boldenona. La dosis más común esta entre 200-400mg por semana para los hombres y 50-75 mg por semana para las mujeres. Lo recomendable es que se usen versiones altas en mg para los hombres y versiones bajas en las mujeres (la versión de 25mg por ml es la más indicada para mayor control). Debido a que si usamos una versión baja en miligramos el volumen de inyección es será muy alta, tornándose a si un peligro inminente sobre la aparición de abscesos.</p>
    </div>

    <div class="image-item">
        <img src="assets/cardarine.jpg" alt="Image 2">
        <h3>Cardarine</h3>
        <p>Cardarine destaca por su capacidad para mejorar el metabolismo energético, aumentar la oxidación de ácidos grasos y optimizar el almacenamiento de glucógeno en los músculos. Estos efectos no solo reducen la grasa corporal, sino que también mejoran la eficiencia energética del ATP y aumentan la resistencia. Su impacto en la biogénesis mitocondrial también ayuda a remodelar el tejido muscular, emulando los beneficios del entrenamiento intenso.</p>
    </div>

    <div class="image-item">
        <img src="assets/clembuterol.jpg" alt="Image 3">
        <h3>Clembuterol</h3>
        <p>Clembuterol es un poderoso termogénico que acelera la quema de grasa y ayuda a transformar la grasa en energía, ideal para mejorar tu físico.</p>
    </div>

    <div class="image-item">
        <img src="assets/ligandroll.jpg" alt="Image 4">
        <h3>Ligandroll</h3>
        <p>Ligandrol, conocido como LGD-4033, es un SARM de segunda generación que te ofrece resultados sobresalientes para ganar masa muscular y mejorar la fuerza, sin los efectos secundarios comunes de los esteroides.</p>
    </div>

    <div class="image-item">
        <img src="assets/liv52.jpg" alt="Image 5">
        <h3>Liv52</h3>
        <ul class="list">
            <li>- Hígado graso (esteatosis hepática y esteatohepatitis).</li>
            <li>- Hepatitis virales.</li>
            <li>- Enfermedad alcohólica del hígado y consumo de licor.</li>
            <li>- Cirrosis hepática de diferente etiología.</li>
            <li>- Anorexia y estados de malnutrición.</li>
            <li>- Patología hepática relacionada con la deficiencia proteínica nutricional.</li>
            <li>- Daño hepático inducido por radiación y quimioterapia.</li>
            <li>- Período de convalecencia de distintas enfermedades.</li>
            <li>- Coadyuvante en tratamientos con drogas hepatotóxicas.</li>
            <li>- Coadyuvante en colesititis calculosa y no calculosa.</li>
            <li>- Suplemento diario para la salud.</li>
        </ul>
    </div>

    <div class="image-item">
        <img src="assets/ostarine.jpg" alt="Image 6">
        <h3>Ostarine</h3>
        <p>Ostarine Mk 2866 es una opción confiable y segura, recomendada en la comunidad fitness para hombres y mujeres por igual. Es más estable y seguro que otras sustancias como SARMS y péptidos.</p>
    </div>

    <div class="image-item">
        <img src="assets/sustanon.jpg" alt="Image 7">
        <h3>Sustanon</h3>
        <p>Sustanon normalmente se inyecta por lo menos una vez a la semana, lo cual puede mantener niveles en sangre hasta 10 días. La dosificación en culturismo y el power lifting va de 250 mg cada 7 días a 1000 mg (Atletas avanzados profesionales). Debido a que no recomiendo el uso de tan altas dosis, y afortunadamente tampoco son tomadas en muchos casos, la regla es de 250 - 1000 mg/semana. Aunque resalto desde ya que una dosificación de 500 mg/semana es completamente suficiente para la mayoría, y puede reducirse a menudo a 250 mg/semana combinando con un esteroide oral.</p>
    </div>

    <div class="image-item">
        <img src="assets/testc300.jpg" alt="Image 8">
        <h3>Test C300</h3>
        <p>El Enantato de testosterona es un esteroide de larga duración. Dependiendo del metabolismo y del nivel inicial de hormonas en el cuerpo, el compuesto tiene un efecto que dura de 2 a 3 semanas, así que teóricamente es posible tener largos intervalos de tiempo entre las inyecciones.</p>
    </div>

    <div class="image-item">
        <img src="assets/testE300.jpg" alt="Image 9">
        <h3>Test E 300</h3>
        <p>El Enantato de testosterona es un esteroide de larga duración. Dependiendo del metabolismo y del nivel inicial de hormonas en el cuerpo, el compuesto tiene un efecto que dura de 2 a 3 semanas, así que teóricamente es posible tener largos intervalos de tiempo entre las inyecciones.</p>
    </div>

    <div class="image-item">
        <img src="assets/testolone.jpg" alt="Image 10">
        <h3>Testolone</h3>
        <p>RAD140 se une a los receptores de andrógenos con una afinidad superior a la testosterona, ofreciendo un crecimiento muscular impresionante con menos efectos androgénicos y una menor influencia en la próstata.</p>
    </div>

    <div class="image-item">
        <img src="assets/winstrol.jpg" alt="Image 11">
        <h3>Winstrol</h3>
        <p>La dosis usual de Winstrol es de 15-25 mg por día para las tomas orales y de 25-50 mg por día para las inyecciones, dentro de lo razonable con 200mg de Winstrol por semana será más que suficiente para cualquier atleta, hablando de inyecciones, ya que usar esta cantidad de manera oral sin duda será un gran impacto para nuestro hígado. Para ciclos de volumen se le combina con un andrógeno potente como la testosterona, el Dianabol o Oximetalona. Aquí el Winstrol equilibraría el ciclo proporcionando buenos efectos anabólicos y reduciendo un poco los efectos estrogénicos que tendrían tales esteroides si fueran tomados solos, el resultado sería una ganancia considerable con una adecuada retención de grasa y líquido.</p>
    </div>
</div>
