<app-header></app-header>
<main class="profile-container">
    <div class="profile-picture">
        <img src="assets/perfil.jpg" alt="User Profile Picture">
    </div>

    <div class="user-info">
        <div class="info-row">
            <span class="label">Name:</span>
            <span class="value">
            <input type="text" value="{{ user?.fullName }}" readonly>
            </span>
            <button>Edit</button>
        </div>
        <div class="info-row">
            <span class="label">Email:</span>
            <span class="value">
            <input type="email" value="{{ user?.email }}" readonly>
            </span>
            <button>Edit</button>
        </div>
        <div class="info-row">
            <span class="label">Date of Birth:</span>
            <span class="value">
            <input type="date" value="{{ user?.dob }}" readonly>
            </span>
            <button>Edit</button>
        </div>
        <div class="info-row">
            <span class="label">Password:</span>
            <span class="value">
            <input type="password" value="{{ user?.password }}" readonly>
            </span>
            <button>Edit</button>
        </div>
        <div class="info-row">
            <span class="label">Re-Password:</span>
            <span class="value">
            <input type="password" value="{{ user?.password }}" readonly>
            </span>
        </div>
    </div>
</main>
